{
  "presets": [
    "next/babel",
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-do-expressions",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-syntax-dynamic-import",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "test": "./test",
        "underscore": "lodash"
      }
    }]
  ],
}
