
.banner {
  background: linear-gradient(179.47deg, #007AFF 0.83%, #034287 99.22%);
  height: 100vh;

  .banner__content {
    width: 560px;
  }

  .container {
    z-index: 1;
  }
  .banner__background {
    position: absolute;
    background-image: url('/static/images/banner_bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}
